.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navItem{
    font-size: 1.3rem;
    font-weight: 600;
    color: inherit;
    border-bottom: 2px solid var(--color-grey3);
    transition: all .2s ease;
}

.navItem:hover, .navItemActive{
    border-bottom: 2px solid var(--color-blue3);
}